
<h3 class="confirm_title">以下の内容で、投稿する。</h3>
<%= form_with(model: @blog , url: blogs_path, local:true )do |form| %>
<%= form.hidden_field :content %>
<%= form.hidden_field :image_cache %>
<p class="confirm_content">投稿内容:<%= @blog.content %></p>
<p class="confirm_content"><%= image_tag @blog.image.url if @blog.image.url %></p>
<%= form.submit "投稿する" %>
<%= form.submit "戻る",name: 'back' %>
<% end %>
