<!DOCTYPE html>
<html>
  <head>
    <title>SampleI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "マイページへ", user_path(current_user.id), class: "btn-flat-simple" if current_user %>
      <% if logged_in? %>
      <%= link_to "ログアウト", session_path(current_user.id), class: "btn-flat-simple", method: :delete %>
      <% else %>
      　  <%= link_to "新規登録", new_user_path, class: "btn-flat-simple" %>
          <%= link_to "ログイン", new_session_path, class: "btn-flat-simple" %>
      <% end %>
    </header>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <div class="application_conteiner">
      <%= yield %>
    </div>
    <footer>
      <p> Instagram株式会社</p>
      <p>© 2009-2020 Instagram Corp.</p>
    </footer>
  </body>
</html>
